Package: io.smacpats.samsungemojipack
Name: Samsung Emoji Pack
Version: 1.0
Architecture: iphoneos-arm
Depends: mobilesubstrate
conflicts: com.ps.emojiportwt
Author: Smacpats
Section: Emojis
Description: Install samsung emojis for iOS, not to be used with emojiport!
Maintainer: smacpats
